.logo {
  text-align: center;
  margin-top: 200px;
}

.bd {
  width: 300px;
  margin-bottom: 20px;
}

.btn {
  width: 100px;
  height: 36px;
  color: #fff;
  font-size: 15px;
  letter-spacing: 1px;
  background: #3385ff;
  border-bottom: 1px solid #2d78f4;
  outline: medium;
  -webkit-appearance: none;
  -webkit-border-radius: 0;
  text-shadow: 0 0 black;
}

.wr-sc {
  display: inline-block;
  height: 34px;
  border: 1px solid #b6b6b6;
  border-color: #7b7b7b #b6b6b6 #b6b6b6 #7b7b7b;
  background: #fff;
  display: inline-block;
  vertical-align: top;
  width: 539px;
  margin-right: 0;
  border-right-width: 0;
  border-color: #b8b8b8 transparent #ccc #b8b8b8;
  overflow: hidden;
}

.wr-btn {
  display: inline-block;
  background-position: -120px -48px;
  z-index: 0;
  vertical-align: top;
  width: auto;
  height: auto;
  border-bottom: 1px solid transparent;

}

.search-content {
  height: 22px;
  font: 16px/18px arial;
  line-height: 22px;
  width: 100%;
  height: 100%;
  padding: 0;
  background: transparent;
  border: none;
  outline: 0;
  -webkit-appearance: none;
}

.nav {
  margin-right: 20px;
  color: black;
}

.nav-bar {
  text-align: right;
}

.page {
  min-width: 1250px;
}